<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GoogleFontDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GoogleFontDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GoogleFontDownloader.Properties.Settings>
            <setting name="lastFolder" serializeAs="String">
                <value />
            </setting>
        </GoogleFontDownloader.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GoogleFontDownloader.Properties.Settings>
            <setting name="ReleaseURL" serializeAs="String">
                <value>https://github.com/Luzifix/GoogleFontDownloader/releases</value>
            </setting>
            <setting name="ReleaseAPI" serializeAs="String">
                <value>http://api.github.com/repos/Luzifix/GoogleFontDownloader/releases</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.99 Safari/537.36</value>
            </setting>
            <setting name="FontsURL" serializeAs="String">
                <value>https://fonts.google.com/metadata/fonts</value>
            </setting>
            <setting name="FontBaseURL" serializeAs="String">
                <value>https://fonts.googleapis.com/css?family=</value>
            </setting>
        </GoogleFontDownloader.Properties.Settings>
    </applicationSettings>
</configuration>